page-register {
.tile2{
  background-color: #0fb2fc;
}
  .left{
    margin-left: 10%;
    float: left;
    height: 35%;
    width: 35%;
  }
  .right {
    margin-right: 8%;
    float: left;
    height: 35%;
    width: 35%;
  }
}
