page-keypadModal{
  .leftScreen {
    padding-top: 5%;
    float: left;
    width: 50%;
  }
  .rightScreen {
    width: 50%;
    float: right;
    margin-top: 5%;
  }
  .button {
    font-size: 150%;
    width: 90px;
    height: 90px;
  }
  .inputValue {
    text-align: right;
  }
}
